# Godot 4+ specific ignores
.godot/
/android/
debug/compute_debug_0.png
debug/compute_debug_0.png.import
debug/compute_debug_1.png
debug/compute_debug_1.png.import
debug/compute_debug_2.png
debug/compute_debug_2.png.import
debug/compute_debug_3.png
debug/compute_debug_3.png.import
debug/compute_debug_4.png
debug/compute_debug_4.png.import
debug/compute_debug_5.png
debug/compute_debug_5.png.import
debug/compute_debug_6.png
debug/compute_debug_6.png.import
debug/compute_debug_7.png
debug/compute_debug_7.png.import
debug/compute_debug_512_0.png
debug/compute_debug_512_0.png.import
debug/compute_debug_512_1.png
debug/compute_debug_512_1.png.import
debug/compute_debug_512_2.png
debug/compute_debug_512_2.png.import
debug/compute_debug_512_3.png
debug/compute_debug_512_3.png.import
debug/compute_debug_512_4.png
debug/compute_debug_512_4.png.import
debug/compute_debug_512_5.png
debug/compute_debug_512_5.png.import
debug/compute_debug_512_6.png
debug/compute_debug_512_6.png.import
debug/compute_debug_512_7.png
debug/compute_debug_512_7.png.import
